# Keep general Python and environment files to ignore
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.pt
*.checkpoint
tmp/
singlerun/
wandb/
runs/
clean/

# Ignore data files larger than Git's limit
data/mp_20/train_ori.pt
data/mp_20/val_ori.pt

# Continue ignoring additional project or IDE-specific files
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
